# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Virtual Environments
.venv/
.env/

# Environment variables
.env

# Folders
data/
indexes/

# System
.DS_Store