arxiv
bs4
chromadb
duckdb
duckduckgo_search==5.3.1b1
faiss-cpu
fastapi
huggingface_hub
ipykernel
langchain
langchain-groq
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain_huggingface
langchain_chroma
langserve
openai
pandas
pydantic
pymupdf
python-dotenv
pypdf
sse_starlette
sentence_transformers
streamlit
unstructured
uvicorn
validators==0.28.1
wikipedia